In [53]:
%matplotlib
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold


LOCAL = True

Using matplotlib backend: MacOSX

## 加载数据

In [78]:
def loan_dir(dir_path, columns):
    dfs = []
    files = os.listdir(dir_path)
    for file in files:
        file = os.path.join(dir_path, file)
        df = pd.read_csv(file)
        dfs.append(df)

    ret_df = pd.concat(dfs)
    ret_df.columns=columns
    return ret_df    

## 合并数据
# train_columns=['ship','x','y','v','d','time','type']
# train_df = loan_dir('hy_round1_train_20200102/', train_columns)
# train_df.to_csv('hy_round1_train_20200102_merged.csv', index=False)

# test_columns=['ship','x','y','v','d','time']
# test_df = loan_dir('hy_round1_testA_20200102', test_columns)
# test_df.to_csv('hy_round1_testA_20200102_merged.csv', index=False)

In [52]:
train_df = None
test_df = None

# 加载数据
if LOCAL:
    train_df = pd.read_csv('hy_round1_train_20200102_merged.csv')
    test_df = pd.read_csv('hy_round1_testA_20200102_merged.csv')
else:
    train_df = pd.read_csv('http://cleland.oss-cn-beijing.aliyuncs.com/data/tianchi_ship/hy_round1_train_20200102_merged.csv')
    test_df = pd.read_csv('http://cleland.oss-cn-beijing.aliyuncs.com/data/tianchi_ship/hy_round1_testA_20200102_merged.csv')

In [65]:
train_df.head(10)

   Unnamed: 0  ship             x             y     v    d           time type
0           0  6966  6.265902e+06  5.279254e+06  0.11  306  1106 23:58:16   围网
1           1  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:48:21   围网
2           2  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:38:19   围网
3           3  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:28:36   围网
4           4  6966  6.265902e+06  5.279254e+06  0.32  130  1106 23:08:17   围网
5           5  6966  6.265902e+06  5.279254e+06  0.22  158  1106 22:58:16   围网
6           6  6966  6.265902e+06  5.279254e+06  0.22  341  1106 22:48:16   围网
7           7  6966  6.265902e+06  5.279254e+06  0.11  254  1106 22:39:26   围网
8           8  6966  6.265902e+06  5.279254e+06  0.11  254  1106 22:38:12   围网
9           9  6966  6.265902e+06  5.279254e+06  0.11  325  1106 22:18:45   围网

In [76]:
#  time处理
train_df['time'] = pd.to_datetime(train_df['time'],format ='%m%d %H:%M:%S')

In [84]:
train_df['ship'].value_counts()

4924    3969
4069    3323
489     3312
5070    2832
401     2248
        ...
5464      16
3554      14
2739      13
5034      12
254       12
Name: ship, Length: 7000, dtype: int64

In [ ]:
train_df